h3#woocommerce_raboomnikassa_account_details,
h3#woocommerce_raboomnikassa_production_details,
h3#woocommerce_raboomnikassa_sandbox_details {
    display: none;
}
h3#woocommerce_raboomnikassa_account_details + table.form-table,
h3#woocommerce_raboomnikassa_production_details + table.form-table,
h3#woocommerce_raboomnikassa_sandbox_details + table.form-table,
h3#woocommerce_raboomnikassa_status_section + p{
    display: none;
}